.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    float: right;
}