.company-logo {
	max-width: 100px;
	margin-right: 10px;
}

.main-content {
	min-height: calc(100vh - 160px);
}

.main-content div {
	padding-top: 30px;
}

.section {
	padding-left: 30px;
}

.services {
	text-align: center;
}

.services p {
	margin-top: 20px;
}

.services img {
	max-width: 80%;
}

.services div:nth-child(even) {
	background-color: #577465;
}

.contact-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-info p {
	font-size: 1.2rem;
	margin: 10px 0;
}
.contact-info div {
	padding-top: 20px;
}

.main-title {
	position: relative;
	width: 100%;
	background-image: url("title.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
}

.main-title-content {
	padding-top: 75px;
}

@media (max-width: 768px) {
	.contact-container {
		padding: 20px;
		min-height: calc(100vh - 192px);
	}
	.main-content {
		min-height: auto;
	}
	h1 {
		font-size: 1.8rem;
	}
	.contact-info p {
		font-size: 1rem;
	}
	.nav-item {
		width: auto;
	}

	.main-title {
		height: auto;
	}

	.main-title-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}